*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0A0A0A;
    color: #FFF;
    padding: 26px 60px;
}

/* NAV BAR */
nav{
    display: flex;
    justify-content: space-between;
}

nav p{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 0.5px;
    font-size: 2rem;
}

ul{
    display: flex;
    width: 15%;
    justify-content: space-between;
    align-items: center;
}

ul li{
    list-style-type: none;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

a{
    color: inherit;
    text-decoration: none;
}