*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0A0A0A;
    color: #FFF;
}

/* HEADER */
header, main, footer{
    padding: 26px 60px;
}
/* NAV BAR */
nav{
    display: flex;
    justify-content: space-between;
    color: #C7C7C7;
}

nav p{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 0.5px;
    font-size: 2rem;
}

ul{
    display: flex;
    width: 15%;
    justify-content: space-between;
    align-items: center;
}

ul li{
    list-style-type: none;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

a{
    color: inherit;
    text-decoration: none;
}

/* HERO SECTION */
.hero{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.heroIntroContact{
    width: 47%;
    align-self: center;
}

.nameIntro{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400px;
    font-size: 6rem;
    line-height: 5.6rem;
    letter-spacing: 3px;
}

.briefIntroduction{
    font-family: "Manrope", sans-serif;
    margin-bottom: 40px;
    line-height: 27px;
}

.heroContactContainer{
    display: flex;
}

.heroDownloadResume{
    background-color: #D3E97A;
    padding: 20px 6px 20px 24px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.downloadResumeButton{
    font-family: Manrope;
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 20px;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}

.downloadIcon{
    display: none;
}

.downloadIconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #222;
    transition: width 0.3s, height 0.3s, background-color 0.3s; 
    cursor: pointer;
}

.downloadIconContainer:hover .downloadIcon{
    display: block;
}

.downloadIconContainer:hover{
    width: 30px;
    height: 30px;
}

.socialHandlesContainer, .socialHanlesDivFooter{
    display: flex;
    gap: 12px;
}

.socialHanlesDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1A1A1A;
    padding: 20px;
    border-radius: 100%;
}

.heroImageContainer{
    width: 49%;
    height: auto; 
    
}

.heroImage{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
}

/* MAIN */
main{
    border-top: 1px solid #484848;
    margin-bottom: 300px;
}

.faeturedProjects{
    font-size: 70px;
}

.projectIntro{
    width: 37%;
}

.projectContainer{
    display: flex;
    justify-content: space-between;
}

.projectImage{
    width: 50%;
    height: auto;
    background-color: #1A1A1A;
    padding: 60px 50px;
    border-radius: 12px;
}

.projectImage img{
    width: 100%;
    border-radius: 12px;
}

.projectDetailsContainer{
    width: 50%;
    padding-left: 48px;
    font-family: "Manrope", sans-serif;
    align-self: center;
}

.projectName{
    margin-bottom: 18px;
}

.projectInfo{
    font-size: 1rem;
    text-transform: uppercase;
    padding-bottom: 16px;
    font-weight: 600;
}

.moreInfo, .projectInfo{
    border-bottom: 1px solid #484848;
}

.moreInfo{
    padding: 16px 0;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

/* FOOTER */
footer{
    border-top: 1px solid #484848;
    padding: 80px 60px;
    display: flex;
    justify-content: space-between;
    font-family: "Manrope", sans-serif;
}

.myContactInfo{
    width: 48%;
}

.sendAMessage{
    width: 48%;
}

.resumeU{
    text-decoration: underline;
    text-decoration-color: #D3E97A;
}

.socialHandles{
    display: flex;
    align-items: center;
    justify-content: center;
}

label{
    display: inline-block;
    margin-bottom: 8px;
}

input, textarea{
    width: 100%;
    border: none;
    background-color: #1A1A1A;
    margin-bottom: 24px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    text-indent: 10px;
    font-family: "Manrope", sans-serif;
}

input{
    height: 51px;
}

.submitButton{
    background-color: #D3E97A;
    padding: 20px 40px;
    border-radius: 50px;
    cursor: pointer;
}